---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    <a href="mailto:mghicks6@gmail.com">Contact Marisha</a> if you'd like to go roller skating.
  </p>
</footer>
