---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const publications = [
  { name: '"EVERYTHING GOOD I REMEMBER ABOUT MY REAL DAD"', url: 'http://x-r-a-y.com/everything-good-i-remember-about-my-real-dad-by-marisha-gene-hicks/fiction/', description: 'X-R-A-Y Literary Mag, 2018' },
  { name: '"THE DANGERS OF"', url: 'https://ghostcitypress.com/poetry-5/2018/2/10/marisha-gene-hicks', description: 'Ghost City Review, 2018'},
  { name: '"TWO MOTHERS"', url: 'https://www.barriopanther.com/product-page/barrio-panther-vol-2', description: 'Barrio Panther Vol. 2, 2017'},
  { name: '"MOTHER NATURE\'S BLACK TUESDAY"', url: 'https://www.peachmgzn.com/product-page/season-1-yearbook-preorder', description: 'Peach Mag Season 1 Yearbook, 2017'},
  { name: '"POOLSIDE ATTRACTIONS"', url: 'https://www.peachmgzn.com/marisha-gene-hicks', description: 'Peach Mag, 2016'},
  { name: '"THE SUNROOM"', url: 'https://www.gravelmag.com/marisha-hicks.html', description: 'Gravel Mag, 2015'}
];
---

<Layout
  title='Home'
  pageTitle='Marisha Hicks | Author'
  description='Marisha Hicks is an author based in El Paso, TX.'
>
      <div class='col-span-5'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Publications:
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              publications.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      <strong>{item.name}</strong> {item.description}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      </p>
    </section>
  </main>
</Layout>
